{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>hola saldre adelante y  <b>de la mano de Dios</b> siempre</p>

    <p>hay que <span style="color: red">cargar la cruz</span> todos los dias</p>
    <span class="mr-md-auto">hay <b>{{contar_servicios}}</b> resultados</span>

    <div class="row">
        {% for elemento in servicios_tienda %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="#" class="img-wrap">
                        <img src="{{elemento.imagen.url}}" alt="">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="titulo-servicio">
                            {{elemento.nombre}}
                        </a>
                        <div class="price mt-1">
                            ${{elemento.costo}}
                        </div>
                        <p class="descripcion-servicio">
                            {{elemento.descripcion}}
                        </p>
                    </figcaption>
                </div>
            </div>
        {% endfor %}
    </div>    

</body>
</html>