{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</i></title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
</head>
<body>
    {% include "home/navbar.html" %}
    <div class="row">
        {% for elemento in servicios_disponible %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="#" class="img-wrap">
                        <img src="{{elemento.imagen.url}}" alt="">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="titulo-servicio">
                            {{elemento.nombre}}
                        </a>
                        <div class="price mt-1">
                            ${{elemento.costo}}
                        </div>
                        <p class="descripcion-servicio">
                            {{elemento.descripcion}}
                        </p>
                    </figcaption>
                </div>
            </div>
        {% endfor %}

    </div>

    <script src="{% static 'home/js/home.js' %}"></script>
</body>
</html>
